TODO.txt
__pycache__
.pytest_cache/
src/__pycache__
test/__pycache__
*.py[cod]
src/__pycache__/spinner.cpython-313.pyc
test/__pycache__/test_spinner_tree.cpython-313-pytest-8.4.1.pyc
test/__pycache__/test_spinner.cpython-313-pytest-8.4.1.pyc
.vscode/
.vscode/settings.json
